files:
  "/etc/nginx/conf.d/sites-available/01-timeout.conf":
     mode: "000644"
     owner: root
     group: root
     content: |
       keepalive_timeout 600;
       proxy_connect_timeout 600;
       proxy_send_timeout 600; 
       proxy_read_timeout 600; 
       fastcgi_send_timeout 600; 
       fastcgi_read_timeout 600;
container_commands:
  nginx_reload:
     command: "sudo systemctl restart nginx"